# Fire stick match box price predictor:

I know what are you thinking, a very long name(Fire stick match box price predictor) for a price predictor, you can keep it short FSMB price predictor, though it still a odd name, but it is for practice purpose.

## Purpose of this project:

 Like I mention, it is for practice purpose, which I'm doning daily to get better each day, so for that I'm doing this project for get the clear picture.

### What's new with this project:

As I'm doing practice daily machine learning, with it I want to challenge my self too, so for that I try to create dataset perweek, and train my ml model on my on dataset, like I already make classification model BTS_fan_predictor and after that I made other dataset which is complicated and becose of that my machine learning not performing well untill I solve the issue, I will not publish the that dataset with model, so you can say that's a secret.
And the last not the least is FSMB(Fire stick match box) price predictor, which I have created for finding the annual expense of match box

### About the Fire stick match box price predictor:

Maybe some of you think, this kind of project is can be good for practice but it have no practicale use in real life.
And you are Right and Wrong at the same time it is becouse, there are still use for this kind of project in some area, and That's True that in this modren age people hardly use match boxis and in a big city it is rear, but in the area where people don't connect with modern age tech, Let's just take the example I'm from pakistan here in my city 95% people use match box in there house this ratio might be less or more depends on you city, but application of this project will useless in the future but " who saw it ", for that it have some use in present, specially those kind of area which I've mentiond.

### Features explain in Datasets:

no & month_in_year: Is useless we just need to drop both of them

num_of_family_members: This feature is not directly effect the price but it is important to the other feature which going to come after this.

num_of_kids_age_7_to_10: This feature is directly effect the numbers of matchs is used in one month ( you might be wondering how?, that's becouse kids are the qurious among the humnas the result of that they try to play with any thing they get there hands on, what ever the thing is, how do I know this becouse I was a kid once, tha... everyone were once), so take 4 matches a month which going to west by kids, this number can be reduced becouse of the next feature

family_rule: Rule effect the number of match will be used by kids, if rule is lenience then 4, if rule is normal then 2, if rule is strict then 1.

num_of_smoker_at_house: But rule feature is not applied to this feature, becouse there are fixed number of matches will be used by numbers becouse a number of cigrets they take, so I took example of casual smoker who use 4 match per month for his cigrets

number_of_match_use: This feature took much time of mine then others, I have used math to calculate the feature, that's why it pains me it is kind of useless here becouse if you feed this feature to your machine learning model, it will cause issue like overfitting which is not ideal for our project, though you can try to feed this to ml model for better understanding

anual_expence_of_matches: And this find outcome and our target for machine learning, but (note that actual price of 1 match box in pakistan is around 5 pkr which is in dollers is around 0.02) but when I google it, it shows the price of the
1 fire stick match is around 1$ so it just for if you get confused about the price, that's it.

THANK YOU FOR YOUR TIME.

In [180]:
# imoport all the libraries which we need for this project
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [181]:
df = pd.read_csv('fire_match_2.csv')

In [182]:
df.head()

,no,num_of_family_members,num_of_kids_age_7_to_10,family_rule,num_of_smoker_at_house,number_of_match_used,anual_expence_of_matches,month_in_Year
0,1,3,1,lenience,0,19,228,12
1,2,4,1,strict,0,16,192,12
2,3,6,2,lenience,1,27,324,12
3,4,7,3,normal,1,25,300,12
4,5,7,1,lenience,3,31,372,12

In [183]:
df.shape

(100, 8)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   no                        100 non-null    int64
 1   num_of_family_members     100 non-null    int64
 2   num_of_kids_age_7_to_10   100 non-null    int64
 3   family_rule               100 non-null    object
 4   num_of_smoker_at_house    100 non-null    int64
 5   number_of_match_used      100 non-null    int64
 6   anual_expence_of_matches  100 non-null    int64
 7   month_in_Year             100 non-null    int64
dtypes: int64(7), object(1)
memory usage: 6.4+ KB

In [185]:
df.isnull().sum()

no                          0
num_of_family_members       0
num_of_kids_age_7_to_10     0
family_rule                 0
num_of_smoker_at_house      0
number_of_match_used        0
anual_expence_of_matches    0
month_in_Year               0
dtype: int64

In [186]:
df.replace({'family_rule':{'lenience':0, 'normal':1, 'strict':2}}, inplace=True)

In [187]:
df.head()

,no,num_of_family_members,num_of_kids_age_7_to_10,family_rule,num_of_smoker_at_house,number_of_match_used,anual_expence_of_matches,month_in_Year
0,1,3,1,0,0,19,228,12
1,2,4,1,2,0,16,192,12
2,3,6,2,0,1,27,324,12
3,4,7,3,1,1,25,300,12
4,5,7,1,0,3,31,372,12

In [188]:
df.drop(columns=['no', 'month_in_Year', 'number_of_match_used'], inplace=True)

In [189]:
df.head()

,num_of_family_members,num_of_kids_age_7_to_10,family_rule,num_of_smoker_at_house,anual_expence_of_matches
0,3,1,0,0,228
1,4,1,2,0,192
2,6,2,0,1,324
3,7,3,1,1,300
4,7,1,0,3,372

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   num_of_family_members     100 non-null    int64
 1   num_of_kids_age_7_to_10   100 non-null    int64
 2   family_rule               100 non-null    int64
 3   num_of_smoker_at_house    100 non-null    int64
 4   anual_expence_of_matches  100 non-null    int64
dtypes: int64(5)
memory usage: 4.0 KB

In [191]:
df.isnull().sum()

num_of_family_members       0
num_of_kids_age_7_to_10     0
family_rule                 0
num_of_smoker_at_house      0
anual_expence_of_matches    0
dtype: int64

In [192]:
x = df.drop(columns='anual_expence_of_matches', axis=1)
y = df.anual_expence_of_matches

In [193]:
print(x)

    num_of_family_members  num_of_kids_age_7_to_10  family_rule  \
0                       3                        1            0
1                       4                        1            2
2                       6                        2            0
3                       7                        3            1
4                       7                        1            0
..                    ...                      ...          ...
95                      7                        3            2
96                      7                        4            1
97                      5                        2            2
98                      4                        1            0
99                      3                        1            0

    num_of_smoker_at_house
0                        0
1                        0
2                        1
3                        1
4                        3
..                     ...
95                       0
96                       0
97                       0
98                       1
99                       0

[100 rows x 4 columns]

In [194]:
print(y)

0     228
1     192
2     324
3     300
4     372
     ...
95    216
96    276
97    204
98    276
99    228
Name: anual_expence_of_matches, Length: 100, dtype: int64

In [195]:
scaler = StandardScaler()
scaler.fit(x)

StandardScaler()

In [196]:
std_scaler = scaler.transform(x)

In [197]:
x = std_scaler
y = df.anual_expence_of_matches

In [198]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42) 
print(x.shape, x_train.shape, x_test.shape)

(100, 4) (80, 4) (20, 4)

In [199]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [200]:
for_traing = model.score(x_train, y_train)
for_testing = model.score(x_test, y_test)
print('The score for training:', for_traing)
print('The score for training:', for_testing)

The score for training: 0.948111817131565
The score for training: 0.9541600325842676

In [201]:
model_2 = RandomForestRegressor(n_estimators=30, random_state=42)
model_2.fit(x_train, y_train)

RandomForestRegressor(n_estimators=30, random_state=42)

In [202]:
for_traing_2 = model_2.score(x_train, y_train)
for_testing_2 = model_2.score(x_test, y_test)
print('The score for training 2:', for_traing_2)
print('The score for training 2:', for_testing_2)

The score for training 2: 0.9890852542741649
The score for training 2: 0.9313478879924062

In [203]:
df.sample(5)

,num_of_family_members,num_of_kids_age_7_to_10,family_rule,num_of_smoker_at_house,anual_expence_of_matches
85,9,2,2,1,252
95,7,3,2,0,216
98,4,1,0,1,276
80,9,3,0,4,516
43,4,0,0,2,276

In [204]:
input = (7,2,0,3)
id_array = np.asarray(input)
id_reshaped = id_array.reshape(1,-1)
std_data = scaler.transform(id_reshaped)
prediction_output = model_2.predict(std_data)
print("Your annual expense of matchs in ($) is :", prediction_output)

Your annual expense of matchs in ($) is : [415.2]

C:\Users\PMYLS\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(